<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.samqiu.workflows.youdao</string>
	<key>connections</key>
	<dict>
		<key>160E3B74-C1C8-4F4F-8E6E-A64B1CDC48FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96159F02-1880-4FCF-9B30-02652898058D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B831172E-379D-444D-AECE-4BA8D2A662DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81E4A63B-798D-44E7-9C86-1AA2FEEA5A96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A8D2EA1-5984-4EDD-BB95-28EC83F3373D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>samqiu</string>
	<key>description</key>
	<string>有道翻译</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youdao</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>96159F02-1880-4FCF-9B30-02652898058D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>y</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>翻译中……</string>
				<key>script</key>
				<string>require_once('workflows.php');

$w = new Workflows();
$query = urlencode("{query}");
 
$url = 'http://fanyi.youdao.com/openapi.do?keyfrom=Youdao-workflow&amp;key=1738796775&amp;type=data&amp;doctype=json&amp;version=1.1&amp;q=' . $query;
$results = json_decode($w-&gt;request($url));

foreach ($results-&gt;translation as $result) {
    $w-&gt;result($result, $result, $result, $result, 'icon.png', '');
}

if (count($results-&gt;web) &gt; 0) {
    foreach ($results-&gt;web as $web) {
        $w-&gt;result('', implode(', ', $web-&gt;value), implode(', ', $web-&gt;value), $web-&gt;key, 'icon.png');
    }
}

if (count($w-&gt;results()) == 0) {
    $w-&gt;result('', '', '没有结果', '', 'icon.png', 'no');
}

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入需要翻译的中英文</string>
				<key>title</key>
				<string>有道翻译</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>160E3B74-C1C8-4F4F-8E6E-A64B1CDC48FE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Translation result copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B831172E-379D-444D-AECE-4BA8D2A662DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>从有道网页打开</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>81E4A63B-798D-44E7-9C86-1AA2FEEA5A96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
# get default browser name see: https://discussions.apple.com/thread/4570295?start=0&amp;tstart=0
set browserName to do shell script "export VERSIONER_PERL_PREFER_32_BIT=yes; perl -MMac::InternetConfig -le 'print +(GetICHelper \"http\")[1]'"set urlQ to "http://dict.youdao.com/search?q=" &amp; q

if ((contents of browserName) is equal to "Google Chrome") thentell application browserName	tell (make new window with properties {bounds:{0, 22, 600, 620}})	end tellend tell
tell application "Google Chrome" to set URL of active tab of front window to urlQ
end if

if ((contents of browserName) is equal to "Safari") then
# 新建窗口	tell application browserName		make new document at end of documents	end tell		# 设置窗口位置	tell application "Safari"		set bounds of window 1 to {0, 22, 600, 620}	end tell		# 打开 URL	tell application "Safari" to set URL of front document to urlQ
end if


end alfred_script
</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7A8D2EA1-5984-4EDD-BB95-28EC83F3373D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>160E3B74-C1C8-4F4F-8E6E-A64B1CDC48FE</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>7A8D2EA1-5984-4EDD-BB95-28EC83F3373D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>81E4A63B-798D-44E7-9C86-1AA2FEEA5A96</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>96159F02-1880-4FCF-9B30-02652898058D</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B831172E-379D-444D-AECE-4BA8D2A662DB</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://samqiu.com/blog/youdao-workflow-for-alfred-v2</string>
</dict>
</plist>
