<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>4CBC6D64-4F46-46B4-9906-421E3418B556</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>db</string>
			<key>text</key>
			<string>Search DouBan for '{query}'</string>
			<key>url</key>
			<string>https://www.douban.com/search?source=suggest&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C57CCDF1-B097-4A35-A5E7-00A5D53AEAA4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>Search Taobao for '{query}'</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
